<ion-tabs class="tabs-color-active-positive">
  <ion-tab href="#/tab/feed" class="tab-feed">
    <ion-nav-view name="tab-feed"></ion-nav-view>
    <ion-nav-view name="tab-comentarios"></ion-nav-view>
  </ion-tab>

  <ion-tab href="#/tab/new" class="tab-new">
    <ion-nav-view name="tab-new"></ion-nav-view>
  </ion-tab>

  <ion-tab href="#/tab/profile" class="tab-profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <ion-tab href="#/tab/mensajes" class="tab-mensajes">
    <ion-nav-view name="tab-mensajes"></ion-nav-view>
  </ion-tab>


</ion-tabs>
